{% extends 'story_5/base.html' %}
{% block content %}
<div class="main pt-3">
    <div class="container">
        <div class="matkul-card p-3 rounded-lg mb-3">
          <form method="POST" action="{% url 'story_5:add_matkul' %}">
            {% csrf_token %}
            <div class="d-flex row mb-1">
              <div class=" col-sm-12 col-lg-9 d-flex justify-content-center justify-content-lg-start align-items-center">
                <input class="form-control-lg col-9 mb-3 form-transparent p-0 nama-input" placeholder="Nama mata kuliah" name="nama" required>
              </div>
              <div class=" col-sm-12 col-lg-3 d-flex justify-content-center align-items-center w-100">
                <button class="btn btn-primary" type="submit">Add Matkul</button>
              </div>
              </div>
              <div class="row">
              <div class="col-lg-8 border-right">
                <div class="d-flex justify-content-start align-items-center flex-row mb-1">
                  <p class="p-0 m-0">Ruangan: </p>
                  <input class="form-control-sm w-75 ml-1 form-transparent" placeholder="Kode Ruangan" name="ruangan" required>
                </div>
                <div class="d-flex justify-content-start align-items-center flex-row">
                  <p class="p-0 m-0 ">Dibawa oleh: </p>
                  <input class="form-control-sm w-75 ml-1 form-transparent" placeholder="Nama dosen" name="dosen" required>
                </div>
              </div>
              <div class="col-lg-4">
                <select class="form-control mb-1" name="semester" required>
                  <option value="2019/2020 Gasal">2019/2020 Gasal</option>
                  <option value="2019/2020 Genap">2019/2020 Genap</option>
                  <option value="2020/2021 Gasal">2020/2021 Gasal</option>
                  <option value="2020/2021 Genap">2020/2021 Genap</option>
                  <option value="2021/2022 Gasal">2021/2022 Gasal</option>
                  <option value="2021/2022 Genap">2021/2022 Genap</option>
                  <option value="2022/2023 Gasal">2022/2023 Gasal</option>
                  <option value="2022/2023 Genap">2022/2023 Genap</option>
                </select>
                <div class="d-flex justify-content-lg-start align-items-center flex-row">
                  <input class="form-control mr-1 sks-input" type="number" value=1 name="jumlah_sks" required>
                  <p class="p-0 m-0">SKS</p>
                </div>
              </div>
            </div>

            <div class="desc p-2 mt-2 rounded-lg">
              <textarea class="form-control w-100 form-transparent description-input" placeholder="Description of Mata Kuliah" name="deskripsi" required></textarea>
            </div>
          </form>
        </div>
    </div>
</div>
{% endblock %}