{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- External CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Mata Kuliah Organizer</title>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-siak">
        <div class="container">
            <a class="navbar-brand" href={% url 'story_5:index' %}><span class="nav-title">Matkul <span class="text-light">Organizer</span></span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                {% if page == "index" %}
                  <li class="nav-item active">
                  <a class="nav-link" href={% url 'story_5:index' %}>Home</a>
                  </li>
                  <li class="nav-item">
                  <a class="nav-link" href={% url 'story_5:add_matkul' %}>Add Matkul</a>
                  </li>
                {% elif page == "add_page" %}
                  <li class="nav-item">
                  <a class="nav-link" href={% url 'story_5:index' %}>Home</a>
                  </li>
                  <li class="nav-item active">
                  <a class="nav-link" href={% url 'story_5:add_matkul' %}>Add Matkul</a>
                  </li>
                {% else %}
                  <li class="nav-item">
                  <a class="nav-link" href={% url 'story_5:index' %}>Home</a>
                  </li>
                  <li class="nav-item">
                  <a class="nav-link" href={% url 'story_5:add_matkul' %}>Add Matkul</a>
                  </li>
                {% endif %}
            </ul>
            </div>
        </div>
    </nav>
  
    {% block content %}
    {% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>