{% extends 'story_5/base.html' %}
{% block content %}
<div class="main pt-3">
    <div class="container">
        <div class="matkul-card p-3 rounded-lg mb-3">
          <h3 class="p-0 m-0">{{mata_kuliah.nama}}</h3>
          <div class="row">
            <div class="col-lg-8 border-right">
              <p class="p-0 m-0">Ruangan: {{mata_kuliah.ruangan}}</p>
              <p class="p-0 m-0">Dibawa oleh {{mata_kuliah.dosen}}</p>
            </div>
            <div class="col-lg-4">
              <p class="p-0 m-0">{{mata_kuliah.semester}}</p>
              <p class="p-0 m-0">{{mata_kuliah.jumlah_sks}} SKS</p>
            </div>
          </div>

          <div class="desc p-2 mt-2 rounded-lg">
            {{mata_kuliah.deskripsi}}
          </div>
          <h3 class="my-2">Tugas list:</h3>
          <div class="row p-2">
            {% for tugas in matkul_deadlines %}
              <div class="p-2 col-lg-3 col-sm-12 p-5 text-center
                {% if tugas.1 < 0 %}
                bg-secondary
                {% elif tugas.1 < 86400 %}
                bg-danger
                {% elif tugas.1 < 604800 %}
                bg-info
                {% else %}
                bg-success
                {% endif %}
              ">
                <h4 class="p-0 m-0">{{tugas.0.nama}}</h4>
                <p class="p-0 m-0">{{tugas.0.deadline}}</p>

                {% if tugas.1 < 0 %}
                <p>deadline passed</p>
                {% elif tugas.1 < 86400 %}
                <p>deadline within 24 hours</p>
                {% elif tugas.1 < 604800 %}
                <p>deadline within 1 week</p>
                {% else %}
                <p>still a plenty of time</p>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
    </div>
</div>
{% endblock %}