{% extends 'story_5/base.html' %}
{% block content %}
<div class="main pt-3">
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                        {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}

        {% for mata_kuliah in mata_kuliah_list %}
        <div class="matkul-card p-3 row rounded-lg mb-3">
            <div class="col-9">
                <h2 class="p-0 m-0">
                    <a class="matkul-title" href={{mata_kuliah.get_absolute_url}}>
                        {{mata_kuliah.nama}}
                    </a>
                </h2>
                <p class="p-0 m-0">Ruangan: {{mata_kuliah.ruangan}}</p>
                <p class="p-0 m-0">Dibawa oleh {{mata_kuliah.dosen}}</p>
            </div>
            <div class="col-3 d-flex justify-content-center align-items-center">
                <form action="{% url 'story_5:delete_matkul' mata_kuliah.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-danger" type="input">
                        Delete Mata Kuliah
                    </button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}