{% extends "story_6/base.html" %}
{% block content %}
        <div class="row px-2">
            {% for kegiatan in kegiatan_items %}
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="bg-secondary p-2 rounded-lg text-light d-flex justify-content-center align-items-center flex-column mb-3 border border-dark">
                    <h3><a class="card-content" href="{{kegiatan.get_absolute_url}}">{{kegiatan.nama}}</a></h3>
                    <h5>Peserta:</h5>
                    <div class="overflow-auto name-list">
                        <ol class="px-5">
                            <form action="{% url 'story_6:delete_kegiatan' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" value={{kegiatan.id}} name="kegiatan_id">
                                {% for peserta in kegiatan.peserta.all %}
                                    <li><a class="card-content" href="{{peserta.get_absolute_url}}">{{peserta.nama}}</a><button class="ml-1 px-1 text-light border-0 p-0 bg-danger d-inline" value="{{peserta.nama}}" name="nama" type="submit">X</button></li>
                                {% endfor %}
                            </form>
                        </ol>
                    </div>
                    <div>
                        <form action="{% url 'story_6:add_peserta' id=kegiatan.id %}" method="POST" class="d-flex justify-content-center align-items-center flex-column mt-2">
                            {% csrf_token %}
                            {{peserta_form}}
                            <input class="btn btn-light mt-2" type="submit" value="Add Peserta">
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock %}