{% extends "story_6/base.html" %}
{% block content %}
        <h1>Profile for {{peserta.nama}}</h1>
        <h3>Participated events ({{peserta.kegiatan_set.all|length}}):</h3>
        <ol>
            {% for kegiatan in peserta.kegiatan_set.all %}
            <li><a class="card-content" href="{{kegiatan.get_absolute_url}}">{{kegiatan.nama}}</a></li>
            {% endfor %}
        </ol>
{% endblock %}