.nav-title {
    font-family:"Trebuchet MS";
    color:gold;
    font-weight: bold;
}

.bg-siak {
    background-image:linear-gradient(135deg,#6e75c0,#49538e)
}

.bg-back {
    background-image:linear-gradient(gainsboro,snow)
}

.main {
    min-height: calc(100vh - 56px);
    background-color:lightgray;
}

.matkul-title {
    color:black;
    text-decoration: underline;
}

.matkul-card {
    background-color:white;
}

.desc {
    background-color:aliceblue;
    border:2px solid lavender;
}

.form-transparent {
    background-color:transparent !important;
    border:none !important;
}

input:focus {
    outline: none !important;
}

.form-transparent::placeholder {
    text-decoration: underline;
}

.form-transparent {
    text-decoration: underline;
}

.form-transparent:focus {
    background-color:transparent !important;
    border:none !important;
    text-decoration: none;
}

.sks-input {
    width:52px !important;
}

.description-input {
    min-height:200px;
}

.nama-input {
    font-size:32px !important;
}

@media (max-width:991px) {
    .nama-input {
        font-size: 24px !important;
        text-align: center;
    }
}